[Unit]
Description=Raspberry Pi Object Recognition Application
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/tinker-rpi-object-recog-two
Environment="DISPLAY=:0"
Environment="XAUTHORITY=/home/pi/.Xauthority"
ExecStart=/home/pi/tinker-rpi-object-recog-two/venv/bin/python /home/pi/tinker-rpi-object-recog-two/main.py
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
